<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Earnopedia</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>



  <div class="nav-above">
  </div>
  <!-- navbar -->
  <nav class="navbar">
    <div class="brand-title">Earnopedia</div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Free earnings</a></li>
        <li><a href="#">Invest & earn</a></li>
      </ul>
    </div>
  </nav>

  <!-- below navbar -->

  <div class="nav-below">
    <div class="nav-blw-content" style="text-align: center;">
      <p> <span class="nav-span">Earn money with your potential</span></p>
      <ul>
        <li>
          <div class="icon-img">
            <img src="E:\web devlopment\mysecondsite\template\images\referrals-icon-15.jpg" alt="refferal icon">
          </div>
          <span><a href="#">Refferal Proggram</a></span>
        </li>
        <li>
          <div class="icon-img">
            <img src="E:\web devlopment\mysecondsite\template\images\zero investment image icon.png" alt="zero investment icon">
          </div>
          <span><a href="#">Zero Investment</a></span>
        </li>
        <li>
          <div class="icon-img">
            <img src="E:\web devlopment\mysecondsite\template\images\small investment icon.svg" alt="small investment icon">
          </div>
          <span><a href="#">Small Investment</a></span>
        </li>
        <li>
          <div class="icon-img">
            <img src="E:\web devlopment\mysecondsite\template\images\large investment icon.png" alt="large investment icon">
          </div>
          <span><a href="#">Medium Investment</a></span>
        </li>
      </ul>
    </div>
  </div>

  <!-- social media icons -->
<div class="social-media">

  <ul>
    <li>  <span>Follow Us</span></li>
    <li><a href="#"><img src="E:\web devlopment\mysecondsite\template\images\facbook icon.png" height=50px width=50px ></a></li>
    <li><a href="#"><img src="E:\web devlopment\mysecondsite\template\images\insta icon.png" height=50px width=50px></a></li>
    <li><a href="#"><img src="E:\web devlopment\mysecondsite\template\images\twitter icon.png" height=50px width=50px></a></li>
    <li><a href="#"><img src="E:\web devlopment\mysecondsite\template\images\pinterest icon.png" height=50px width=50px></a></li>
    <li><a href="#"><img src="E:\web devlopment\mysecondsite\template\images\linkedin icon.png" height=50px width=50px></a></li>
  </ul>
</div>
  <!-- footer bar-->
<footer>
  <div class="ftr-bar">
    <div class="In-ftr">
      <ul>
        <li style="text-align: left;"><span><h3>All Proggrams</h3></span>

            <span><a href="#">Refferal Proggram</a></span>
            <span><a href="#">Zero investment</a></span>
            <span><a href="#">Small Investment</a></span>
            <span><a href="#">Medium Investment</a></span>

        </li>
        <li style="text-align: left;"><span><h3>Support</h3></span>

            <span><a href="#">Terms & Condition</a></span>
            <span><a href="#">Disclouser</a></span>
            <span><a href="#">Privacy & Policy</a></span>

        </li>
        <li style="text-align: left;"><span><h3>About Us</h3></span>

            <span><a href="#">Founder</a></span>
            <span><a href="#">Mission</a></span>

        </li>
        <li style="text-align: left;"><span><h3>Contact Us</h3></span>

            <span style="color:white;">Email Us </span>
            <span><a href="#"> Shubhamvora05@gmail.com</a></span>

        </li>
      </ul>

    </div>
  </div>
</footer>
  <!-- java script link -->

  <script src="index.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
